/*This is my local Style*/
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 54px;
  margin-bottom: 100px; /* Margin bottom by footer height */
}

.solution_header{
  font-size: 2rem;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.tasks_group{
  margin-left: 20px;
  margin-right: 20px;
}

.task_header{
  margin-top: 15px;
  font-size: 1.25em;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.task{
  font-size: 16px;
  margin: 10px 20px;
}

.hints{
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.header_exercise{
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.flag-icon{
  margin-right: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.fa-1x5{
  font-size: 1.5em !important;
  margin-right: 5px;
}

.solution{
  margin-top: 25px;
}


@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}